<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Semestre</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Editar Semestre</h1>
    <form action="/semestres/<%= semestre.id %>?_method=PUT" method="POST">
        <label for="nombre">Descripcion del semestre:</label>
        <input type="text" id="descripcion" name="descripcion" required value="<%= semestre.descripcion %>"><br><br>

        <label for="nombre">Fecha de Inicio</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required value="<%= semestre.fecha_inicio %>"><br><br>

        <label for="nombre">Fecha del fin del semestre</label>
        <input type="date" id="fecha_fin" name="fecha_fin" required value="<%= semestre.fecha_fin %>"><br><br>

        <button type="submit">Actualizar Semestre</button>
    </form>
    <a href="/semestres/listar">Volver al Listado</a>
</body>

</html>
